.fill
  #map-canvas
  #checkboxes
    <input type="checkbox" id="layer0" onclick="com.glados.views.home.index.toggleLayer(0)">Landslide <br>
    <input type="checkbox" id="layer1" onclick="com.glados.views.home.index.toggleLayer(1)">Storm Surge 1<br>
    <input type="checkbox" id="layer2" onclick="com.glados.views.home.index.toggleLayer(2)">Storm Surge 2<br>
    <input type="checkbox" id="layer3" onclick="com.glados.views.home.index.toggleLayer(3)">Storm Surge 3<br>
    #status
  #splash
    .splash_mask
    .round_popup
      .text
        %h3 Welcome to
        %h1 Electronic Registry for Permit Assessment and Tracking
        %h3 (ERPAT)
        .button
          %p Get clearance before you start any building work
          %a#start-now.btn.btn-lg.btn-default{href: "#"} Start now
