.fill
  #map-canvas
  #checkboxes
    -#%input{type:"checkbox", id:"layer0", onclick:"com.glados.views.home.index.toggleLayer(0)"}
    -#%label{for:"layer0"}
    -#  Landslide
    %p Hazard
    %input{type:"checkbox", id:"layer1", onclick:"com.glados.views.home.index.toggleLayer(1)"}
    %label{for:"layer1"}
      Severely Eroded Area
    %br/
    %input{type:"checkbox", id:"layer2", onclick:"com.glados.views.home.index.toggleLayer(2)"}
    %label{for:"layer2"}
      Flood Prone Area
    %br/
    %input{type:"checkbox", id:"layer3", onclick:"com.glados.views.home.index.toggleLayer(3)"}
    %label{for:"layer3"}
      Flashflood
    %br/
    %input{type:"checkbox", id:"layer4", onclick:"com.glados.views.home.index.toggleLayer(4)"}
    %label{for:"layer4"}
      Fault Line

    %hr

    %p Zoning
    %input{type:"checkbox", id:"layer5", onclick:"com.glados.views.home.index.toggleLayer(5)"}
    %label{for:"layer5"}
      Residential
    %br/
    %input{type:"checkbox", id:"layer6", onclick:"com.glados.views.home.index.toggleLayer(6)"}
    %label{for:"layer6"}
      Commercial
    %br/
    %input{type:"checkbox", id:"layer7", onclick:"com.glados.views.home.index.toggleLayer(7)"}
    %label{for:"layer7"}
      Agricultural
    -#<input type="checkbox" id="layer0" onclick="com.glados.views.home.index.toggleLayer(0)">Landslide <br>
    -#<input type="checkbox" id="layer1" onclick="com.glados.views.home.index.toggleLayer(1)">Storm Surge 1<br>
    -#<input type="checkbox" id="layer2" onclick="com.glados.views.home.index.toggleLayer(2)">Storm Surge 2<br>
    -#<input type="checkbox" id="layer3" onclick="com.glados.views.home.index.toggleLayer(3)">Storm Surge 3<br>
    #status
  #splash
    .splash_mask
    .round_popup
      .text
        %h3 Welcome to
        %h1 Electronic Registry for Permit Assessment and Tracking
        %h3 (ERPAT)
        .button
          %p Get clearance before you start any building work
          %a#start-now.btn.btn-lg.btn-default{href: "#"} Start now

  #instruction.hide
    .alert
      %p Click to drop <strong>pin</strong> and mark your building location on the current map.