%header
  = render 'layouts/navigation'
.fill.margin-top-50
  #map-canvas
  #checkboxes
    %p Zoning
      %input{type:"checkbox", id:"layer1", onclick:"com.glados.views.home.index.toggleLayer(1)"}
      %label{for:"layer1"}
        Residential
      %br/
      %input{type:"checkbox", id:"layer2", onclick:"com.glados.views.home.index.toggleLayer(2)"}
      %label{for:"layer2"}
        Commercial
      %br/
      %input{type:"checkbox", id:"layer3", onclick:"com.glados.views.home.index.toggleLayer(3)"}
      %label{for:"layer3"}
        Agricultural

