%header
  = render 'layouts/navigation'
.fill.margin-top-50
  #map-canvas
  #checkboxes
    %p Hazard
    %input{type:"checkbox", id:"layer1", onclick:"com.glados.views.home.index.toggleLayer(1)"}
    %label{for:"layer1"}
      Severely Eroded Area
    %br/
    %input{type:"checkbox", id:"layer2", onclick:"com.glados.views.home.index.toggleLayer(2)"}
    %label{for:"layer2"}
      Flood Prone Area
    %br/
    %input{type:"checkbox", id:"layer3", onclick:"com.glados.views.home.index.toggleLayer(3)"}
    %label{for:"layer3"}
      Flashflood
    %br/
    %input{type:"checkbox", id:"layer4", onclick:"com.glados.views.home.index.toggleLayer(4)"}
    %label{for:"layer4"}
      Fault Line

    %hr

    %p Zoning
    %input{type:"checkbox", id:"layer5", onclick:"com.glados.views.home.index.toggleLayer(5)"}
    %label{for:"layer5"}
      Residential
    %br/
    %input{type:"checkbox", id:"layer6", onclick:"com.glados.views.home.index.toggleLayer(6)"}
    %label{for:"layer6"}
      Commercial
    %br/
    %input{type:"checkbox", id:"layer7", onclick:"com.glados.views.home.index.toggleLayer(7)"}
    %label{for:"layer7"}
      Agricultural

