-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'ERPAT', root_path, class: 'navbar-brand'
    .col-sm-6.col-md-6
      -#%form.navbar-form{role: "search"}
      -#  .input-group
      -#    #remote
      -#      %input.form-control{name: "locational_clearance_id", placeholder: "Search Document ID", type: "text",  :class=>"typeahead", id: 'search-doc'}/
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'

      - if current_user
        %ul.nav.navbar-nav.navbar-right.navbar-user
          %li.dropdown
            %span.display-name.pull-left
              Welcome,
              = current_user.name
            -#%a.dropdown-toggle.clearfix{'data-toggle'=>"dropdown", href:"#"}
            -#  %span.display-name.pull-left
            -#    Welcome,
            -#    = current_user.name
            -#    %b.caret
            -#%ul.dropdown-menu
            -#  %li
            -#    = link_to destroy_user_session_path, :method=>'delete' do
            -#      Logout

